@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand" !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand" !important;
  overflow-y: scroll;
  --themeColor: #0f6cbd;
  --codeFontFamily: "Quicksand";
  background-color: #ededfc !important;
}

code {
  font-family: var(--codeFontFamily)
}

.codeStyle {
  font-family: var(--codeFontFamily)
}

.contentDIV {
  flex: 1;
}

.outerDIV {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ededfc !important;
}

.container {
  background-color: white !important;
  margin-top: 70px;
  margin-bottom: 18px;
  border-radius: 30px;
  padding: 40px 80px;
}
